@charset 'UTF-8';


// Core variables and mixins
@import
"bower_components/mui/src/sass/mui/colors",
"bower_components/mui/src/sass/mui/variables",
"bower_components/mui/src/sass/mui/mixins";

// customize MUI variables
$mui-appbar-bg-color:     mui-color('blue', '700');
$mui-primary-color-dark:  mui-color('purple', '700');
$mui-primary-color-light: mui-color('purple', '100');

$mui-accent-color:        mui-color('green', 'A200');
$mui-accent-color-dark:   mui-color('green', 'A100');
$mui-accent-color-light:  mui-color('green', 'A400');

// Core css
@import
"bower_components/mui/src/sass/mui/scaffolding",
"bower_components/mui/src/sass/mui/layout",
"bower_components/mui/src/sass/mui/grid",
"bower_components/mui/src/sass/mui/typography",
"bower_components/mui/src/sass/mui/panel",
"bower_components/mui/src/sass/mui/buttons",
"bower_components/mui/src/sass/mui/ripple",
"bower_components/mui/src/sass/mui/appbar",
"bower_components/mui/src/sass/mui/semantic-markup",
"bower_components/mui/src/sass/mui/dividers",
"bower_components/mui/src/sass/mui/forms",
"bower_components/mui/src/sass/mui/tables",
"bower_components/mui/src/sass/mui/dropdowns",
"bower_components/mui/src/sass/mui/tabs",
"bower_components/mui/src/sass/mui/overlay",
"bower_components/mui/src/sass/mui/helpers";

.blocks:before,
.blocks:after {
    content:" ";
    display:table
}

.blocks:after {
    clear:both
}

.block-aside:first-child:last-child {
    float:right
}

.block-main {
    width: 62.2%;
    float: left;

    + .block-aside {
        float: right;
    }
}

.block-aside {
    width: 37.25%;
    float: left;

    + .block-main {
        float: right;
    }
}

.block-half {
    width: 50%;
    float: left;

    + .block-half {
        float: right;
    }
}

img {
    max-width: 100%;
}

.hide {
    display: none;
}

.error-modal {
    margin: 3em auto;
    width: 400px;
    min-height: 200px;
    padding: 25px;
    background: #fff;
}

.typcn {
    font-size: 1.35em;
}

#main-wrapper {
    position: relative;
}

#header {
    background-color: $mui-appbar-bg-color;
    padding: 8px 15px;
    color: $mui-appbar-font-color;
    position: relative;
    z-index: 10000;

    input {
        border: solid 1px $mui-primary-color;
        outline: none;
        color: $mui-input-font-color;
        padding: 3px 10px;
    }

    form {
        margin: 5px 0;
        width: 50%;
    }

    [type="search"] {
        border: solid 1px $mui-primary-color;
        outline: none;
        color: $mui-input-font-color;
        padding: 6px 12px;
        width: 99%;
        font-size: 16px;
    }

    ::-webkit-input-placeholder {
       color: $mui-input-placeholder-color;
    }

    ::-moz-placeholder {
       color: $mui-input-placeholder-color;
    }
}

#leafholder {
    width: 100%;
    height: 90vh;
}

#destination-form {
    float: left;
}

.modal {
    background: #fff;
    width: 100%;
    padding: 25px 0;
    margin-top: 15%;

    > .inner {
        margin: 0 20px;
    }
}

.fullscreen-modal {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 25px 0;

    > .inner {
        margin: 0 20px;
    }
}

.note {
    color: #999;
    font-size: small;
}
